<ul class="list-group" *ngIf="items.length">
  <li class="list-group-item" *ngFor="let item of items; let i = index">
    <strong>    {{ item.item.name }} 
      </strong>
    |
    {{ item.item.description }}
    
    <app-cuantity-card-element [item]="item.item" (cantidadChange)="item.cantidad=$event"></app-cuantity-card-element>

    Precio:
    <span class="badge badge-success"> {{(item.item.price * item.cantidad) | currency}}</span>
  </li>
  <li class="list-group-item text-right">Total: <strong>{{ getTotal() | currency }}</strong></li>
</ul>

<p *ngIf="!items.length">
No hay elementos que mostrar.
</p>