<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Título -->
  <a class="navbar-brand" href="#">
    <h2>DevSchool Angular</h2>
  </a>

  <!-- Navegación -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link" href="#" (click)="enviaUbicacion('welcome')">Welcome</a>
    </li>
    <li class="nav-item">
      <a  [routerLink]="['/listado']" class="nav-link" (click)="enviaUbicacion('listado')">Listado</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/carrito']" class="nav-link" href="#" (click)="enviaUbicacion('carrito')">
        <i class="fas fa-shopping-cart"></i>
        Carrito
        <span class="badge badge-danger">{{ itemsNumber }}</span>
      </a>
    </li>
  </ul>

  <!-- Idioma -->
  <select [(ngModel)]="selectedLanguage" (change)="enviarHijo()">
    <option *ngFor="let language of languages" [ngValue]="language.key">{{language.value}}</option>
  </select>

</nav>