<!-- () indicamos que esperamos algo que se llama enviarIdioma desde el hijo -->
<!-- Lo de la derecha es lo que tenemos para tratar dicha información -->
<app-navbar (enviarIdioma)="recibirHijo($event)" (ubicacionChange)="escuchaUbicacion($event)"></app-navbar>

<!-- Contenedor principal -->
<div class="container">
    <router-outlet></router-outlet>
</div>
<div >
    <div class="left"></div>
    <div class="right"></div>
    <div class="clear-both"></div>
</div>
