    <div class="text-right p-3">

        <!-- Default unchecked -->
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" [(ngModel)]="showAvailable">
            <label class="custom-control-label" for="defaultUnchecked">{{'show-available'|translations:idioma}}</label>
        </div>
    </div>

    <div>
        <input [(ngModel)]="searchText" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" >
    </div>
    <br>

    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#ff0000" type = "ball-circus"></ngx-spinner>
    
    <div class="card-columns">
        <div *ngFor="let item of items | showAvailableItem:showAvailable:searchText; let i=index" class="card text-dark">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text font-weight-bold">
                    {{item.price | currency}}
                </p>
                <p>
                    <small *ngIf="!item.available" class="text-danger">No disponible</small>
                </p>
                <button class="btn btn-primary" (click)="enviaItem(i)">Abrir item</button>
            </div>
        </div>
    </div>





