<div class="card">
    <div class="card-header">
      Producto
    </div>
    <div class="card-body" *ngIf="itemSelected">
      <h5 class="card-title">{{itemSelected.name}}</h5>
      <p class="card-text">{{itemSelected.description}}</p>
      <p class="card-text">{{itemSelected.price | currency: getCurrencyCode() }}</p>

      <app-cuantity-card-element [item]="itemSelected" (cantidadChange)="cantidadItems=$event"></app-cuantity-card-element>

      <p class="card-text">
        <small class="text-danger font-weight-bold" *ngIf="!itemSelected.available">NO DISPONIBLE</small>
      </p>
      <button [disabled]="cantidadItems==0" type="button" class="btn btn-success" (click)="addItem()">Añadir al carrito</button>

    </div>
  </div>